{% extends "base.html" %}

{% block main %}
<div class="card my-3">
    <div class="card-body table-responsive">
        <table class="table table-sm table-striped table-hover m-0">
            <thead class="text-nowrap">
                <tr>
                    <th data-sortable>Alias</th>
                    <th data-sortable>Status</th>
                    <th data-sortable>Last Seen</th>
                    <th data-sortable>Description</th>
                    <th data-sortable>Remote ID</th>
                    <th data-sortable>Device ID</th>
                    <th data-sortable>Teamviewer ID</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                <tr>
                    <td>{% device.alias.as_deref().unwrap_or("") %}</td>
                    <td>{% format!("{:?}", device.online_state) %}</td>
                    <td>
                        {% if let Some(val) = device.last_seen %}
                        {% format!("{:?}", val) %}
                        {% end %}
                    </td>
                    <td>{% device.description.as_deref().unwrap_or("") %}</td>
                    <td>{% device.remotecontrol_id.as_deref().unwrap_or("") %}</td>
                    <td>{% device.device_id.as_deref().unwrap_or("") %}</td>
                    <td>{% device.teamviewer_id.unwrap_or(0) %}</td>
                </tr>
                {% end %}
            </tbody>
        </table>
    </div>
</div>
{% end %}
