{% extends "base.html" %}

{% block main %}
<div class="card my-3">
    <div class="card-body table-responsive">
        <table class="table table-sm table-striped table-hover m-0">
            <thead class="text-nowrap">
                <tr>
                    <th data-sortable>Alias</th>
                    <th data-sortable>Status</th>
                    <th data-sortable>Last Seen</th>
                    <th data-sortable>Description</th>
                    <th data-sortable>Remote ID</th>
                    <th data-sortable>Device ID</th>
                    <th data-sortable>Teamviewer ID</th>
                </tr>
            </thead>
            <tbody>
                {%- for device in devices %}
                <tr>
                    <td>{% if device.alias.is_some() %}{{device.alias.as_ref().unwrap()}}{% endif %}</td>
                    <td>{{device.online_state|debug}}</td>
                    <td>{% if device.last_seen.is_some() %}{{device.last_seen.as_ref().unwrap()}}{% endif %}</td>
                    <td>{% if device.description.is_some() %}{{device.description.as_ref().unwrap()}}{% endif %}
                    </td>
                    <td>{% if device.remotecontrol_id.is_some() %}{{device.remotecontrol_id.as_ref().unwrap()}}{%
                        endif %}
                    </td>
                    <td>{% if device.device_id.is_some() %}{{device.device_id.as_ref().unwrap()}}{% endif %}</td>
                    <td>{{ device.teamviewer_id.unwrap_or(0) }}</td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
